.container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container>div {
    margin-top: 40px;
    display: flex;
}

.container-dados {
    margin-bottom: 20px;
    margin-right: 20px;
}